/.metadata/
/.mvn/
/mvnw
/mvnw.cmd
/frontend/node_modules
/Apigateway/mvn
/Apigateway/mvnw
/Apigateway/mvnw.cmd
/chat/node_modules
/EurekaServer/mvn
/EurekaServer/mvnw
/EurekaServer/mvnw.cmd
/commentaire/mvn
/commentaire/mvnw
/commentaire/mvnw.cmd
/ms-page/mvn
/ms-page/mvnw
/ms-page/mvnw.cmd